<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundUser.name %></title>
</head>
<body>
    <img src="<%= foundUser.image %>" alt="">
    <h1><%= foundUser.name %></h1>
    <h2><%= foundUser.email %></h2>
    <h4><%= foundUser.bio %></h4>
</body>
</html>